# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
build/
dist/
.wheels/
*.whl

# Virtual environments
.venv/
venv/
env/

# Conda
.env
.envrc
*.conda
.conda/
conda-meta/

# Node / WebUI
node_modules/
webui/node_modules/
npm-debug.log*
yarn-error.log*
.next/
dist-web/

# IDE
.vscode/*
!.vscode/launch.json
.idea/

# Logs / Runtime
logs/
*.log
*.sqlite
*.db

# Local stuff
config/
.env.local
tmp/
temp/
*.part
tests/media/

# media files just in case
*.mpa
*.mp4
*.avi
*.mkv
*.mp3
*.wav
*.flac
*.m2ts
*.mov
*.m4v
*.mpeg
*.mpg
*.ogg
*.opus
*.flv
*.m4a
*.aac

# OS junk
.DS_Store
Thumbs.db

# Docker
.docker/
docker-data/
